@charset "UTF-8";
/*Стили обнуления*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*Стандартный враппер*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/*Контейнер, который ограничивает контент на странице*/
.container {
  max-width: 1170px;
  padding: 15px;
  margin: 0 auto;
}

/*Т.к везде используется одинаковый шрифт, то ставим его по умолчанию*/
html {
  font-family: "Roboto Slab", serif;
}

/*Т.к напитки не нужны, то ссылка неактивна*/
.inactive {
  pointer-events: none;
}

/*Стили для шапки*/
.header {
  font-family: "Roboto Slab", serif;
  /*Бургер, который разворачивает меню на тф*/
  /*Адаптив шапки*/
}
.header .logo {
  /*Адаптив для лого*/
}
.header .logo__text {
  visibility: hidden;
}
.header .logo__img {
  position: absolute;
  left: 5%;
  top: 2%;
  width: 110px;
  height: 110px;
  z-index: 2;
}
@media (max-width: 1494px) {
  .header .logo__img {
    left: 4%;
    top: 2%;
  }
}
@media (max-width: 1426px) {
  .header .logo__img {
    margin-right: 30px;
    left: 0;
  }
}
.header__top {
  background-color: #F7F7F7;
  padding-top: 15px;
}
.header__top, .header__bottom {
  width: 100%;
  height: 70px;
}
.header__bottom {
  background-color: white;
}
.header__block {
  display: flex;
  align-items: center;
}
.header__item {
  display: flex;
  align-items: center;
}
.header__text {
  padding-left: 7px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.header .burger {
  transition: 0.3s all ease;
  visibility: hidden;
}
.header .burger span {
  display: block;
  width: 30px;
  position: relative;
  height: 3px;
  background-color: black;
  border-radius: 5px;
}
.header .burger span:after, .header .burger span:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: black;
  border-radius: 5px;
  transition: 0.4s all ease;
}
.header .burger span:after {
  top: 10px;
}
.header .burger span:before {
  top: -10px;
}
.header__item {
  padding-left: 20px;
}
.header__item:first-child {
  padding-left: 0px;
}
.header__item span {
  color: #B2B2B2;
  font-size: 15px;
}
.header .menu {
  display: flex;
}
.header .menu__item {
  padding-left: 20px;
  position: relative;
}
.header .menu__item:hover ul {
  display: flex;
}
.header .menu__item ul {
  z-index: 4;
  background: white;
  position: absolute;
  display: none;
  padding: 10px 10px;
}
.header .menu__item ul li {
  padding: 10px 20px 0px 15px;
}
.header .menu__item ul a {
  font-size: 15px;
  font-weight: 500;
  color: black;
  transition: 0.3s all ease;
}
.header .menu__item ul a:hover {
  color: #FFD700;
}
.header .menu__link {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.75;
  color: #000;
  transition: 0.3s all ease;
}
.header .menu__link:hover {
  color: #FFD700;
}
@media (max-width: 1342px) {
  .header .menu {
    padding-left: 20px;
  }
  .header__block {
    padding-left: 20px;
  }
}
@media (max-width: 1302px) {
  .header .menu {
    padding-left: 60px;
  }
  .header__block {
    padding-left: 60px;
  }
}
@media (max-width: 1222px) {
  .header .menu {
    padding-left: 90px;
  }
  .header__block {
    padding-left: 100px;
  }
}
@media (max-width: 532px) {
  .header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 70px;
  }
  .header .logo__text {
    visibility: visible;
    font-size: 17px;
    text-transform: uppercase;
  }
  .header .logo__img {
    position: inherit;
    width: 50px;
    height: 50px;
    z-index: 2;
  }
  .header .burger {
    position: absolute;
    right: 0;
    top: 5%;
    visibility: visible;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
  }
  .header .menu {
    padding-left: 0px;
    position: absolute;
    top: -500px;
  }
  .header__bottom {
    background: #F7F7F7;
    display: none;
  }
  .header__block {
    padding-left: 0px;
    position: absolute;
    top: -500px;
    flex-direction: column;
  }
  .header .visible {
    transition: 0.3s all ease;
    top: 20px;
  }
  .header .visible__menu {
    top: 120px;
  }
  .header .visible__bottom {
    display: block;
  }
  .header .close {
    display: flex;
    justify-content: flex-end;
  }
  .header .close span {
    visibility: hidden;
    transition: 0.2s all ease;
  }
  .header .close span:after, .header .close span:before {
    transition: 0.4s all ease;
    visibility: visible;
  }
  .header .close span:after {
    transform: rotate(45deg);
    top: -2%;
  }
  .header .close span:before {
    transform: rotate(-45deg);
    top: 2%;
  }
  .header__item {
    padding-left: 0px;
    padding-top: 5px;
  }
  .header__block {
    align-items: flex-start;
  }
  .header .menu__link {
    font-size: 20px;
  }
  .header .menu__item:first-child ul {
    background: #F7F7F7;
  }
}
@media (max-width: 458px) {
  .header .logo__text {
    font-size: 15px;
  }
  .header .logo__img {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 321px) {
  .header .menu__item:first-child {
    padding-left: 0px;
  }
}
.header .logo__hidden {
  visibility: hidden;
}
.header .logo__hidden .logo__text {
  font-size: 0px;
}

/*Секция со слайдером*/
.slickSlider {
  background: #F7F7F7;
}
.slickSlider .slider {
  /*Адаптив слайдера*/
}
.slickSlider .slider__item {
  background: #343434;
}
.slickSlider .slider__item img {
  width: 100%;
  height: 45%;
}
@media (max-width: 642px) {
  .slickSlider .slider__item img {
    height: 150px;
  }
}
@media (max-width: 532px) {
  .slickSlider .slider__item img {
    height: 100%;
  }
}
@media (max-width: 532px) {
  .slickSlider {
    padding-top: 25px;
  }
}

/*Секция каталог*/
.catalog {
  padding: 70px 0px;
  width: 100%;
  /*Адаптив секции каталог*/
}
.catalog h2 {
  text-align: center;
  font-size: 40px;
  font-family: "Roboto Slab", serif;
}
.catalog h3 {
  text-align: left;
  font-size: 30px;
  font-family: "Roboto Slab", serif;
  margin-top: 20px;
}
.catalog .cards {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 30px;
}
.catalog .cards .card {
  padding: 20px 18px;
  width: 251px;
  height: 463px;
  background: #fff;
}
.catalog .cards .card__information {
  display: flex;
  flex-direction: column;
}
.catalog .cards .card img {
  border-radius: 50%;
  width: 215px;
  height: 215px;
  border: 2px solid #FFDE6A;
}
.catalog .cards .card__container {
  width: 215px;
  height: 203px;
}
.catalog .cards .card__container .card__name {
  height: 70px;
  padding-top: 20px;
  text-align: center;
  font-size: 24px;
  font-family: "Roboto Slab", serif;
}
.catalog .cards .card__container .info {
  height: 100px;
  padding-top: 5px;
  text-align: left;
  font-size: 14px;
  font-family: "Roboto Slab", serif;
}
.catalog .cards .card__info {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.catalog .cards .card__info .money {
  text-align: center;
  width: 60px;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  color: #000;
  line-height: 39px;
}
.catalog .cards .card__info .select_button {
  color: red;
  height: 40px;
  background-color: #fff;
  font-size: 14px;
  font-family: "Roboto Slab", serif;
  padding: 0px 14px;
  border: 1px solid red;
  border-radius: 20.5px;
  text-decoration: none;
  line-height: 39px;
}
.catalog .cards .card__info .select_button:hover {
  box-shadow: 0 0 10px red;
}
@media screen and (max-width: 1004px) {
  .catalog .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-row-gap: 10px;
    justify-items: center;
  }
}
@media screen and (max-width: 753px) {
  .catalog .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-row-gap: 10px;
    justify-items: center;
  }
  .catalog h3 {
    text-align: center;
  }
}
@media screen and (max-width: 502px) {
  .catalog .cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-row-gap: 10px;
    justify-items: center;
  }
}

/*Стили для стрелочки, которая поднимает страницу вверх*/
#toTop {
  width: 100px;
  border-radius: 50px;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  font-family: "Century Gothic Regular";
  font-size: 11px;
  z-index: 4;
}

.arrow {
  position: relative;
  cursor: pointer;
  margin: 20px;
  width: 66px;
  height: 30px;
}
.arrow__left {
  position: absolute;
  background-color: transparent;
  top: 10px;
  left: 0;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(-35deg);
  float: right;
  border-radius: 2px;
}
.arrow__left:after {
  content: "";
  background-color: #FFDE6A;
  width: 40px;
  height: 10px;
  display: block;
  float: right;
  border-radius: 6px 10px 10px 6px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: 4;
}
.arrow__right {
  position: absolute;
  background-color: transparent;
  top: 10px;
  left: 26px;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(35deg);
  float: right;
  border-radius: 2px;
}
.arrow__right:after {
  content: "";
  background-color: #FFDE6A;
  width: 40px;
  height: 10px;
  display: block;
  float: right;
  border-radius: 10px 6px 6px 10px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: 4;
}

/*Стили подвала*/
.footer {
  background: #CDD7CC;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__item {
  display: flex;
  align-items: center;
}
.footer__text {
  padding-left: 10px;
}
.footer__link span {
  padding-left: 10px;
  font-size: 20px;
  color: black;
}
@media (max-width: 450px) {
  .footer__text {
    padding-left: 2px;
  }
}

/*Стили для экрана, который появляется при загрузке страницы*/
.preloader {
  font-family: "Roboto Slab", serif;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #333;
  z-index: 101;
}
.preloader__text {
  width: 250px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 48%;
  margin-left: -125px;
  margin-top: -75px;
  color: #FFDE6A;
  font-size: 40px;
  letter-spacing: -2px;
  text-align: center;
  line-height: 35px;
}
.preloader__text small {
  font-size: 25px;
}
.preloader__animation {
  position: absolute;
  width: 41px;
  height: 41px;
  background: url("../img/load.svg") center center no-repeat;
  background-size: 41px;
  margin: -16px 0 0 -16px;
}

/*Стили для невидимого блока, который появляется при нажатии на кнопку "выбрать"*/
.snack {
  z-index: 100;
  position: fixed;
  left: 35%;
  top: 15%;
  border-radius: 10px;
  background: #CDD7CC;
  width: 500px;
  height: 500px;
  transform: scale(0);
  transition: 0.5s all ease;
  /*Адаптация этого блока*/
}
.snack.popup__active {
  transform: scale(1);
}
.snack__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.snack__img img {
  width: 215px;
  height: 215px;
  border-radius: 50%;
}
.snack__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.snack__title {
  font-size: 24px;
  padding: 10px 0px;
  font-weight: 900;
}
.snack__description {
  font-size: 14px;
  font-style: italic;
}
.snack__price {
  padding-top: 20px;
  display: flex;
  align-items: center;
  color: white;
}
.snack__cost {
  padding-right: 20px;
}
.snack__info {
  display: flex;
}
.snack__weight {
  padding-right: 200px;
}
.snack__button {
  color: white;
  position: relative;
  transition: 0.3s all ease;
}
.snack__button:before, .snack__button:after {
  content: "";
  display: block;
  background-color: white;
  height: 1px;
  width: 6px;
  position: absolute;
  transition: 0.3s all ease;
}
.snack__button:after {
  right: -10px;
  top: 10px;
  transform: rotate(-45deg);
}
.snack__button:before {
  right: -10px;
  top: 5px;
  transform: rotate(45deg);
}
.snack__button:hover:after, .snack__button:hover:before {
  right: -15px;
  background-color: #FFDE6A;
}
.snack__button:hover {
  color: #FFDE6A;
}
@media (max-width: 1004px) {
  .snack {
    left: 30%;
  }
}
@media (max-width: 860px) {
  .snack {
    left: 25%;
  }
}
@media (max-width: 760px) {
  .snack {
    left: 20%;
  }
}
@media (max-width: 660px) {
  .snack {
    left: 10%;
  }
}
@media (max-width: 576px) {
  .snack {
    left: 5%;
  }
}
@media (max-width: 530px) {
  .snack {
    left: 20%;
    width: 300px;
  }
  .snack__weight {
    padding-right: 100px;
  }
  .snack__cost {
    padding-right: 10px;
  }
}
@media (max-width: 440px) {
  .snack {
    left: 15%;
  }
}
@media (max-width: 396px) {
  .snack {
    left: 10%;
  }
}
@media (max-width: 350px) {
  .snack {
    left: 5%;
  }
}
@media (max-width: 320px) {
  .snack {
    left: 2.5%;
  }
}

/*Это стили для заднего фона невидимого блока*/
.popup__bg {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #99A39B;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  display: none;
}

.pizza {
  z-index: 100;
  position: fixed;
  left: 20%;
  top: 15%;
  border-radius: 10px;
  background: #CDD7CC;
  width: 1000px;
  height: 500px;
  transform: scale(0);
  transition: 0.5s all ease;
}
.pizza.popup__active {
  transform: scale(1);
}
.pizza__img img {
  width: 215px;
  height: 215px;
  border-radius: 50%;
  align-self: c;
}
.pizza__close {
  cursor: pointer;
}
.pizza__close:before {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  background-color: black;
  position: absolute;
  right: 0.5%;
  top: 2%;
  transform: rotate(45deg);
}
.pizza__close:after {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  background-color: black;
  position: absolute;
  right: 0.5%;
  top: 2%;
  transform: rotate(-45deg);
}
.pizza__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.pizza__text {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.pizza__title {
  font-size: 24px;
  padding: 10px 0px;
  font-weight: 900;
}
.pizza__description {
  font-size: 14px;
  font-style: italic;
}
.pizza__info {
  display: flex;
  padding-top: 10px;
}
.pizza__weight {
  padding: 0px 10px;
}
.pizza__button {
  position: absolute;
  right: 2%;
  bottom: 1%;
}
.pizza__option h3 {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 20px;
}
.pizza__option ul {
  width: 200px;
  height: 100px;
  overflow-y: scroll;
}
.pizza__option ul::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.pizza__option ul::-webkit-scrollbar-button {
  background-color: transparent;
}
.pizza__option ul::-webkit-scrollbar-track {
  background-color: #333;
}
.pizza__option ul::-webkit-scrollbar-track-piece {
  background-color: #fff;
}
.pizza__option ul::-webkit-scrollbar-thumb {
  height: 20px;
  background-color: #666;
  border-radius: 3px;
}
.pizza__option ul::-webkit-scrollbar-corner {
  background-color: #999;
}
.pizza__option ul::-webkit-resizer {
  background-color: #666;
}
.pizza__option ul li {
  font-style: italic;
  padding-bottom: 8px;
}
@media (max-width: 1300px) {
  .pizza {
    left: 15%;
  }
}
@media (max-width: 1198px) {
  .pizza {
    left: 10%;
  }
}
@media (max-width: 1126px) {
  .pizza {
    left: 5%;
  }
}
@media (max-width: 1064px) {
  .pizza {
    left: 1%;
  }
}
@media (max-width: 1016px) {
  .pizza {
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100vh;
  }
  .pizza__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
  }
  .pizza__button {
    right: 5%;
  }
  .pizza__img {
    padding-top: 150px;
  }
}

.stocks {
  font-family: "Roboto Slab", serif;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 30px;
  justify-items: center;
  height: 800px;
}
.stocks .stock {
  margin: 15px;
  width: 450px;
  height: 350px;
  overflow: hidden;
}
.stocks .stock__img {
  display: flex;
  justify-content: center;
}
.stocks .stock__img img {
  width: 100%;
  height: 10vh;
}
.stocks .stock__title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
  margin-top: 10px;
}
.stocks .stock__info {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  margin: 10px;
}
.stocks .stock__info p {
  padding-top: 10px;
}
.stocks .stock:hover {
  background-color: #F7F7F7;
}

@media (max-width: 1430px) {
  .stocks {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    justify-items: center;
  }
}
@media (max-width: 950px) {
  .stocks {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    justify-items: center;
    height: 100%;
  }
}
@media (max-width: 450px) {
  .stocks .stock {
    width: 100%;
  }
  .stocks .stock__img img {
    width: 100%;
    height: 100%;
  }
  .stocks .stock__title {
    font-size: 20px;
  }
}
@media (max-width: 530px) {
  .stocks {
    margin-top: 30px;
  }
}